Django==5.2.7
djangorestframework
django-cors-headers
django-filter
django-extensions
django-debug-toolbar
dj-database-url
python-decouple
python-dotenv
celery
redis
django-celery-results
django-celery-beat
whitenoise
# psycopg2-binary
drf-yasg
pandas
openpyxl
Pillow
gunicorn
