Django==5.2.7
djangorestframework
django-cors-headers
django-filter
django-extensions
django-debug-toolbar
python-decouple
python-dotenv
celery
redis
django-celery-results
django-celery-beat
whitenoise
drf-yasg
pandas
openpyxl
Pillow
gunicorn

dj-database-url
