Django==4.2.7
gunicorn==21.2.0
whitenoise==6.6.0
psycopg[binary]==3.1.18
dj-database-url==2.1.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-filter==23.3
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
celery==5.3.4
redis==5.0.1
python-decouple==3.8
setuptools==69.0.3
